---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';



$blue-dark: #a6caec;
$blue-light: #bed3ee;

$green-light: #a6e24f;

.m-t-10 {margin-top: 10px;}

body {font-size: 16px;}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
	background: url(../assets/wave.jpg) repeat;
}
.footer, .push {
	height: 60px; /* .push must be the same height as .footer */
}

.footer {
	background: #f5f5f5;
	ul {
		margin-bottom: 0;
	}
}

.no-padding{padding: 0;}

.img-center{margin: 0 auto;}

.navbar {margin-bottom: 0}

.navbar-brand{font-size: 13px}

@media (min-width: $screen-md-min) {
.navbar-brand{font-size: 18px}
}

.navbar .nav-pills {margin-top: 8px;
	> li > a {color: darken($blue-dark,25);font-size: 13px; border-radius: 22px;
	&.active{background: darken($blue-dark,5);color: white;border: none; }
	&:hover {color: white;background: transparent;border: none;margin-left: 2px;}
	&:hover.active {@extend .active; margin-left: 0px;}
	}
}

.en:lang(en), .fr:lang(fr){
    font-weight: bold;
    color: white;
}


.container-doc{
	padding: 30px 0;
}



.content-body {

	min-height: 400px;

	background: white;
	padding: 15px 30px;

	border-radius: 15px;
	border: 2px solid $blue-dark;	
	
	p.legend{font-size: 14px; @extend .text-muted;text-align: center;}

	ul, ol{-webkit-padding-start: 19px;}
}

@media (min-width: $screen-md-min) {

	.content-body.sidebar {

		border-radius: 0px;
		border: none;

		border-top-left-radius:15px;
		border-bottom-left-radius:15px;

		border-top: 2px solid $blue-dark;
		border-bottom: 2px solid $blue-dark;
		border-left: 2px solid $blue-dark;

	}
    
}

.arrow-container {
	position: relative;
	left: -16px;
	top: 2px;

	.arrow-right {
	position: absolute;
  width: 0; 
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
  border-left: 12px solid white;
}
}



aside {

	background: $blue-dark;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;

	h4,h5,h6 {color: $gray-lighter;}
	.menu{
		padding: 35px 0 20px 14px;
		ul {padding: 0;margin: 0;
		li {list-style: none;
			a{font-size: 14px;color: darken($blue-dark,25);
				&:hover{text-decoration: none;color: darken($blue-dark,35)}
			}
			}

		}

	}
	
}

.table-small {font-size: 12px;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/* IE10+ specific styles go here */
.img-responsive {
max-width : 100%!important;
	}
}
