<!-- Sticky footer stuff -->
<div class="push"></div>
</section>

{% if page.lang == 'en' %}
    {% assign links = site.data.translation.footer.en %}
{% else %}
    {% assign links = site.data.translation.footer.fr %}

{% endif %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline m-t-10">
                        {% for link in links %}
                        <li><a href="{{link.url}}"> {{link.text}}</a></li>
                        {% endfor %}
                    </ul>
                    <p class="small">{{ site.data.global.footer_text }}</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="{{ site.data.global.url }}/js/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
    <script src="{{ site.data.global.url }}/js/app.js"></script>
    <script src="{{ site.data.global.url }}/js/anchor.min.js"></script>
    <script>
      anchors.add();
      anchors.remove('h1, .menu h4, .menu h5');
      anchors.options = {
        icon: '#'
      };
    </script>

    <!-- Algolia DocSearch -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
    <script type="text/javascript"> docsearch({ 
     apiKey: 'b5030a487ce37480051c4ff2d1588bec', 
     indexName: 'galigeo', 
     inputSelector: '#docsearch', 
     algoliaOptions: { 'facetFilters': ["tags:$TAGS"] }, 
     debug: false // Set debug to true if you want to inspect the dropdown 
    }); 
    </script> 

    </body>
</html>