<p>nbre de pages : {{ paginator.total_pages }}</p>

{% if paginator.total_pages > 1 %}
<p>Ma pagination</p>
<nav>
    <ul class="pager">
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
        {% else %}
        <span>&laquo; Prev</span>
        {% endif %}

      {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </ul>
</nav>
{% endif %}