{% if page.categories == 'documentation' %}
  {% if page.lang == 'en' %}
    {% assign links = site.data.sidebar.en %}

    {% assign next_page = site.data.translation.pagination.en.next %}
    {% assign prev_page = site.data.translation.pagination.en.prev %}
  {% else %}

    {% assign links = site.data.sidebar.fr %}

    {% assign next_page = site.data.translation.pagination.fr.next %}
    {% assign prev_page = site.data.translation.pagination.fr.prev %}
  {% endif %}
{% endif %}

{% if page.categories == 'advanced' %}
  {% if page.lang == 'en' %}
    {% assign links = site.data.sidebar-advanced.en %}

    {% assign next_page = site.data.translation.pagination.en.next %}
    {% assign prev_page = site.data.translation.pagination.en.prev %}
  {% else %}

    {% assign links = site.data.sidebar-advanced.fr %}

    {% assign next_page = site.data.translation.pagination.fr.next %}
    {% assign prev_page = site.data.translation.pagination.fr.prev %}
  {% endif %}
{% endif %}

{% if page.categories == 'starter' %}
  {% if page.lang == 'en' %}
    {% assign links = site.data.sidebar-starter.en %}

    {% assign next_page = site.data.translation.pagination.en.next %}
    {% assign prev_page = site.data.translation.pagination.en.prev %}
  {% else %}

    {% assign links = site.data.sidebar-starter.fr %}

    {% assign next_page = site.data.translation.pagination.fr.next %}
    {% assign prev_page = site.data.translation.pagination.fr.prev %}
  {% endif %}
{% endif %}

{% for edition in links %}
  {% for guides in edition %}
    {% for urls in guides %}
      {%for items in urls%}
        {% for item in items %}

          {% if page.url ==  item.url %}
            <nav>
              <ul class="pager">
                  {% if item.prev %}
                    <li><a href="{{ item.prev | prepend: site.baseurl | replace: '//', '/' }}">&larr; {{ prev_page }}</a></li>
                  {% else %}
                    <li class="disabled"> <a href="#">&larr; {{ prev_page }}</a> </li>
                  {% endif %}

                {% if item.next %}
                  <li><a href="{{ item.next | prepend: site.baseurl | replace: '//', '/' }}">{{ next_page }} &rarr;</a></li>
                {% else %}
                  <li class="disabled"> <a href="#">{{ next_page }} &rarr;</a></li>
                {% endif %}
              </ul>
          </nav>
        
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}