
<div class="menu">
<h4>STANDARD EDITION</h4>
<h5>Guide d'installation</h5>

{% if page.lang == 'en' %}
	{% assign links_install = site.data.sidebar.en.std.install %}
	{% assign links_admin = site.data.sidebar.en.std.admin %}
	{% assign links_user = site.data.sidebar.en.std.user %}
	{% assign links_adv_install = site.data.sidebar.en.advanced.install %}
	{% assign links_adv_admin = site.data.sidebar.en.advanced.admin %}
	{% assign links_adv_user = site.data.sidebar.en.advanced.user %}
{% else %}
	{% assign links_install = site.data.sidebar.fr.std.install %}
	{% assign links_admin = site.data.sidebar.fr.std.admin %}
	{% assign links_user = site.data.sidebar.fr.std.user %}
	{% assign links_adv_install = site.data.sidebar.fr.advanced.install %}
	{% assign links_adv_admin = site.data.sidebar.fr.advanced.admin %}
	{% assign links_adv_user = site.data.sidebar.fr.advanced.user %}
{% endif %}


<ul>
	{% for item in links_install %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>

<h5>Guide Administrateur</h5>
<ul>
	{% for item in links_admin %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>

<h5>Guide Utilisateur</h5>
<ul>
	{% for item in links_user %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>

<h4>ADVANCED EDITION</h4>
<h5>Guide d'installation</h5>
<ul>
	{% for item in links_adv_install %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>
<h5>Guide Administrateur</h5>
<ul>
	{% for item in links_adv_admin %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>

<h5>Guide Utilisateur</h5>
<ul>
	{% for item in links_adv_user %}
	<li>
		{% if page.url == item.url %}
			<div class="arrow-container">
				<span class="arrow-right"></span>
			</div>
		{% endif %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	</li>
	{% endfor %}
</ul>


</div>

