
{% if page.lang == 'en' %}
	{% assign links_install = site.data.sidebar.en.std.install %}
	{% assign links_admin = site.data.sidebar.en.std.admin %}
	{% assign links_lightning_user = site.data.sidebar.en.std.lightning_user %}
	{% assign links_user = site.data.sidebar.en.std.user %}
	{% assign links_faqs = site.data.sidebar.en.std.faqs %}

	{% assign faqs_guide = site.data.translation.sidebar.en.faqs_guide %}
	{% assign user_guide = site.data.translation.sidebar.en.user_guide %}
	{% assign admin_guide = site.data.translation.sidebar.en.admin_guide %}
	{% assign install_guide = site.data.translation.sidebar.en.install_guide %}
	

{% else %}
	{% assign links_install = site.data.sidebar.fr.std.install %}
	{% assign links_admin = site.data.sidebar.fr.std.admin %}
	{% assign links_lightning_user = site.data.sidebar.fr.std.lightning_user %}
	{% assign links_faqs = site.data.sidebar.fr.std.faqs %}

	{% assign faqs_guide = site.data.translation.sidebar.fr.faqs_guide %}
	{% assign user_guide = site.data.translation.sidebar.fr.user_guide %}
	{% assign admin_guide = site.data.translation.sidebar.fr.admin_guide %}
	{% assign install_guide = site.data.translation.sidebar.fr.install_guide %}

{% endif %}

<div class="menu">
<h4>{{install_guide}}</h4>
<ul>
	{% for item in links_install %}
	<li>
		{% if page.url == item.url %}
		<a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
		<a href="{{ item.url }}">{{ item.text }}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

<h4>{{admin_guide}}</h4>
<ul>
	{% for item in links_admin %}
	<li>
		{% if page.url == item.url %}
		<a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
		<a href="{{ item.url }}">{{ item.text }}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

<h4>{{user_guide}} Lightning</h4>
<ul>
	{% for item in links_lightning_user %}
	<li>
		{% if page.url == item.url %}
		<a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
		<a href="{{ item.url }}">{{ item.text }}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

<h4>{{faqs_guide}}</h4>
<ul>
	{% for item in links_faqs %}
	<li>
		{% if page.url == item.url %}
		<a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
		<a href="{{ item.url }}">{{ item.text }}</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

</div>
