
{% if page.lang == 'en' %}
	{% assign links_adv_install = site.data.sidebar.en.advanced.install %}
	{% assign links_adv_admin = site.data.sidebar.en.advanced.admin %}
	{% assign links_adv_user = site.data.sidebar.en.advanced.user %}

	{% assign user_guide = site.data.translation.sidebar.en.user_guide %}
	{% assign admin_guide = site.data.translation.sidebar.en.admin_guide %}
	{% assign install_guide = site.data.translation.sidebar.en.install_guide %}

{% else %}
	{% assign links_adv_install = site.data.sidebar.fr.advanced.install %}
	{% assign links_adv_admin = site.data.sidebar.fr.advanced.admin %}
	{% assign links_adv_user = site.data.sidebar.fr.advanced.user %}

	{% assign user_guide = site.data.translation.sidebar.fr.user_guide %}
	{% assign admin_guide = site.data.translation.sidebar.fr.admin_guide %}
	{% assign install_guide = site.data.translation.sidebar.fr.install_guide %}

{% endif %}

<div class="menu">
<h4>Advanced Edition</h4>
<h5>{{install_guide}}</h5>
<ul>
	{% for item in links_adv_install %}
	<li>
		{% if page.url == item.url %}
	  <a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	    {% endif %}
	</li>
	{% endfor %}
</ul>
<h5>{{admin_guide}}</h5>
<ul>
	{% for item in links_adv_admin %}
	<li>
		{% if page.url == item.url %}
	  <a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	    {% endif %}
	</li>
	{% endfor %}
</ul>

<h5>{{user_guide}}</h5>
<ul>
	{% for item in links_adv_user %}
	<li>
		{% if page.url == item.url %}
	  <a class= "active" href="{{ item.url }}">{{ item.text }}</a>
		{% else %}
	  <a href="{{ item.url }}">{{ item.text }}</a>
	    {% endif %}
	</li>
	{% endfor %}
</ul>

</div>
