{% include header.html %}

<div class="container-doc">
  <div class="container">
    <div class="row">        
      <div class="col-md-10 col-md-offset-1">
        <div class="content-body">

          <h1>Notes de versions</h1>

          <p>Il y a 3 ou 4 versions principales par an, avec des mises à jour en arrière-plan selon le cycle de sortie suivant :</p>
          <ol>
            <li>Annonce par e-mail avec notes de version</li>
            <li>Disponibilité sur l'AppExchange</li>
            <li>Mise à jour en Production</li>
          </ol>

          Les dernières mises à jour sont ci-dessous :
          
          {% if page.type == 'collection' %}
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts %}

              {% if post.lang == 'fr'  %}
                {% assign read_more = site.data.translation.release.fr.read_more %}
              {% endif %}

              {% if post.lang == 'en'  %}
                {% assign read_more = site.data.translation.release.en.read_more %}
              {% endif %}

              {% if post.categories contains 'release'  %}
                <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
                {{post.lead_text}}
                <a href="{{ post.url }}"> {{ read_more }}</a>
              {% endif %}
            {% endfor %}
          {% else %}
            <h1>{{ page.title }}</h1>
            {{ content }}
          {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>

{% include footer.html %}