{% include header.html %}

<div class="container-doc">
  <div class="container">
    <div class="row">        
      <div class="col-md-10 col-md-offset-1">
        <div class="content-body">

          <h1>Releases notes</h1>

          <p>There are 3-4 main releases per year, with updates occuring silently in background as per a release cycle schedule:</p>
          <ol>
            <li>Email announcement with release notes</li>
            <li>AppExchange availability</li>
            <li>Production systems update</li>
          </ol>

          The last updates are below:
          
          {% if page.type == 'collection' %}
            {% assign posts=site.posts | where:"lang", page.lang %}
            {% for post in posts %}

              {% if post.lang == 'fr'  %}
                {% assign read_more = site.data.translation.release.fr.read_more %}
              {% endif %}

              {% if post.lang == 'en'  %}
                {% assign read_more = site.data.translation.release.en.read_more %}
              {% endif %}

              {% if post.categories contains 'release'  %}
                <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
                {{post.lead_text}}
                <a href="{{ post.url }}"> {{ read_more }}</a>
              {% endif %}
            {% endfor %}
          {% else %}
            <h1>{{ page.title }}</h1>
            {{ content }}
          {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>

{% include footer.html %}